In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=66a710fcdad108b61514d064f8495882a8967f7f1a82903771fb664f26709caa
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark import SparkConf, SparkContext

In [3]:
if __name__ == "__main__":
  conf = SparkConf().setAppName("Tushar").setMaster("local[3]")
  sc = SparkContext(conf = conf)

In [19]:
# Sample data for demonstration
data = [
    ("A", 1),
    ("B", 2),
    ("A", 3),
    ("B", 4),
    ("C", 5),
    ("A", 6),
    ("C", 7),
    ("A", 8),
    ("B", 9),
    ("C", 10),
]

In [20]:
# Create an RDD from the sample data
rdd = sc.parallelize(data)

In [21]:
# Transformation 1: groupBy
grouped_data = rdd.groupBy(lambda x: x[0])

In [22]:
# Display the result of groupBy
print("groupBy:")
for key, values in grouped_data.collect():
    print(f"Key: {key}, Values: {list(values)}")

groupBy:
Key: B, Values: [('B', 2), ('B', 4), ('B', 9)]
Key: C, Values: [('C', 5), ('C', 7), ('C', 10)]
Key: A, Values: [('A', 1), ('A', 3), ('A', 6), ('A', 8)]

In [30]:
# Transformation 2: groupByKey
grouped_by_key = rdd.groupByKey()

In [31]:
# Display the result of groupByKey
print("\ngroupByKey:")
for key, values in grouped_by_key.collect():
    print(f"Key: {key}, Values: {list(values)}")

groupByKey:
Key: B, Values: [2, 4, 9]
Key: C, Values: [5, 7, 10]
Key: A, Values: [1, 3, 6, 8]

In [32]:
# Transformation 3: reduceByKey
sum_values = rdd.reduceByKey(lambda x, y: x + y)

In [35]:
sum_values.collect()

[('B', 15), ('C', 22), ('A', 18)]

In [33]:
# Display the result of reduceByKey
print("\nreduceByKey:")
for key, value in sum_values.collect():
    print(f"Key: {key}, Sum: {value}")

reduceByKey:
Key: B, Sum: 15
Key: C, Sum: 22
Key: A, Sum: 18